.best-gear {
    min-height: 600px;
    display: flex;
    gap: 125px;
    margin-bottom: 200px;
}

.business-purpose-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.business-purpose-text h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.4px;
    margin-bottom: 2rem;
    max-width: 400px;
}

.business-purpose-text h2 span {
    color: var(--orange1);
}

.best-gear-img {
    width: 50%;
    max-width: 540px;
    border-radius: 8px;
}

.business-purpose-text p {
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
    max-width: 500px;
}

@media (max-width: 1111px) {
    .best-gear {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .business-purpose-text {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .best-gear-img {
        width: 95%;
    }
}