.categories {
  display: flex;
  gap: 30px;
  padding-bottom: 10.5rem;
  margin-top: 120px;
  width: 100%;
  justify-content: space-between;
}
  
.category {
  width: 400px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  position: relative;
  margin: auto;
}
  
.category span {
  height: 350px;
  position: absolute;
  bottom: 10px;
  width: 100%;
}

#category_headphones span {
  background-image: url("../assets/shared/desktop/image-category-thumbnail-headphones.png");
}
  
#category_speakers span {
  background: url("../assets/shared/desktop/image-category-thumbnail-speakers.png");
}

#category_earphones span {
  background: url("../assets/shared/desktop/image-category-thumbnail-earphones.png");
}

.category div {
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 30px;
}

.category h5 {
  padding: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.category button {
  background-color: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.category button::after {
  content: ">";
}

.category button:hover::after {
  content: "    >";
}

.shop-link {
  /* color: rgb(43, 43, 43); */
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  opacity: 0.5;
  letter-spacing: 1px;
}

.shop-link::after {
  content: "   >";
  color: var(--orange0);
} 

@media screen and (max-width: 480px) {
  .categories {
    flex-direction: column;
  }

  .category {
    margin-bottom: 150px;
    width: 100%;
  }
}