.category-banner {
    min-height: 200px;
    background-color: rgb(0, 0, 0);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.43px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}