#ZX9-speaker {
  background-color: var(--orange1);
  color: var(--white0);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  justify-content: flex-end;
  padding: 6rem;
  gap: 100px;
  margin-bottom: 3rem;
  width: 100%;
  position: relative;
  min-height: 560px;
  overflow: hidden;
  z-index: 1;
}

#ZX9-speaker::after {
  content: '';
  background: no-repeat url("../assets/home/desktop/pattern-circles.svg");
  background-position: -25% 0%;
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: -1;
} 

#ZX9-speaker img {
  width: 400px;
  min-height: auto;
  position: absolute;
  bottom: -15px;
  left: 12%;
  z-index: 1;
}

#ZX9-speaker h2 {
  font-size: 56px;
  letter-spacing: 2px;
  line-height: 58px;
  margin-bottom: 2rem;
}

#ZX9-speaker div {
  max-width: 300px;
  margin-right: 50px;
}

#ZX9-speaker p {
  opacity: 0.75;
  margin-bottom: 40px;
}

#ZX9-speaker button {
  background-color: black;
}

#ZX9-speaker button:hover {
  background-color: #4c4c4c;
}

#ZX7-speaker {
    background: no-repeat url("../assets/home/desktop/image-speaker-zx7.jpg") center/cover;
    min-height: 320px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 3rem;
    width: 100%;
}

#ZX7-speaker div {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#ZX7-speaker h3,
#YX1-earphones h3 {
    font-size: 28px;
    text-transform: uppercase;
}

#YX1-earphones {
    min-height: 320px;
    display: flex;
    gap: 30px;
    margin-bottom: 200px;
}

#YX1-earphones img {
    width: 50%;
    border-radius: 8px;
}

#YX1-earphones div {
    background-color: #f2f2f2;
    border-radius: 8px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5%;
    gap: 2rem;
}

@media (max-width: 1111px) {
  #ZX9-speaker {
    flex-direction: column;
    justify-content: center;
    min-height: 720px;
    gap: 4rem;
  }

  #ZX9-speaker::after {
    background-position: 50% 130%;
  } 

  #ZX9-speaker img {
    position: static;
    width: 200px;
  }

  #ZX9-speaker div {
    margin-right: 0;
    text-align: center;
  }

  #YX1-earphones {
    width: 100%;
  }

  #YX1-earphones div {
    width: 100%;
  }
}

@media (max-width: 480px) {
  #ZX9-speaker h2 {
    font-size: 36px;
  }

  #YX1-earphones {
    flex-direction: column;
    width: 100%;
  }

  #YX1-earphones div {
    min-height: 200px;
    padding-left: 1.5rem;
  }

  #YX1-earphones img {
    width: 100%;
    min-height: 200px;
  }
}

@media (max-width: 300px) {
  #ZX9-speaker img {
    width: 70vw;
  }

  #YX1-earphones img {
    min-height: 70vw;
  }
}