#ZX9-speaker {
  background-color: var(--orange1);
  color: var(--white0);
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 500px;
  /* width: 1100px; */
  border-radius: 8px;
  justify-content: center;
  padding: 6rem;
  gap: 100px;
  margin-bottom: 3rem;
}

#ZX9-speaker_img {
  background-image: url("../assets/home/desktop/image-speaker-zx9.png");
  width: 400px;
  height: 500px;
}

#ZX9-speaker h2 {
  font-size: 56px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 58px;
  margin-bottom: 2rem;
}

#ZX9-speaker div {
  max-width: 300px;
}

#ZX9-speaker p {
  opacity: 0.75;
  font-size: 15px;
  line-height: 25px;
}

#ZX9-speaker button {
  background-color: black;
  border: none;
  color: white;
  /* letter-spacing: 1px; */
}

#ZX9-speaker button:hover {
  background-color: #4c4c4c;
}

#ZX7-speaker {
    background-image: url("../assets/home/desktop/image-speaker-zx7.jpg");
    min-height: 320px;
    width: 1100px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 3rem;
}

#ZX7-speaker div {
    margin-left: 10%;
}

#ZX7-speaker h3 {
    font-size: 28px;
    text-transform: uppercase;
}

#YX1-earphones {
    min-height: 320px;
    display: flex;
    gap: 30px;
    margin-bottom: 200px;
}

#YX1-earphones_img {
    background-image: url("../assets/home/desktop/image-earphones-yx1.jpg");
    width: 540px; 
    border-radius: 8px;

}

#YX1-earphones .product-infos {
    background-color: #f2f2f2;
    border-radius: 8px;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-infos div {
    margin-left: 100px;
}

#YX1-earphones h3 {
    text-transform: uppercase;
    font-size: 28px;
}