footer {
  background-color: #101010;
  color: white;
  min-height: 365px;
  margin-bottom: 0;
  padding-top: 75px;
  width: 100vw;
}

.footer-content {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin: auto;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-left p {
  opacity: 0.5;
  font-size: 15px;
  line-height: 25px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  gap: 50px;
}