.gallery {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    margin: 160px auto;
}

.gallery .left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.gallery .left img {
    width: 100%;
    height: 50%;
}

.gallery .right img {
    width: 100%;
    height: 100%;
}

@media (max-width: 480px) {
    .gallery {
        flex-direction: column;
    }
}