.header-bg {
  width: 100vw !important;
  background-color: rgb(0, 0, 0);
}

.header-content {
  max-width: 1100px;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 30px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.cart-icon {
  background-image: url("../assets/shared/desktop/icon-cart.svg");
  width: 24px;
  height: 20px;
  cursor: pointer;
}

.category-name {
  height: 200px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  background-color: red;
  height: 300px;
  width: 300px;
  position: absolute;
  margin-top: 20px;
  right: 150px;
  opacity: 0;
  z-index: 10;
  border-radius: 8px;

}

.cart-icon:hover .cart {
  opacity: 1;
}