.header-bg {
  width: 100vw;
  background-color: #000;
}

header .content {
  max-width: 1100px;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  min-height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  width: 143px;
}

.hamburger-icon {
  background-image: url('../assets/shared/tablet/icon-hamburger.svg');
  width: 16px;
  min-height: 16px;
  margin-right: 8px;
  display: none;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 28px;
}

nav ul {
  min-height: 28px;
}

.cart-icon {
  background-image: url("../assets/shared/desktop/icon-cart.svg");
  width: 24px;
  min-height: 20px;
  cursor: pointer;
  margin-left: 119px;
}

.category-name {
  min-height: 200px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  background-color: red;
  min-height: 300px;
  width: 300px;
  position: absolute;
  margin-top: 20px;
  right: 150px;
  opacity: 0;
  z-index: 10;
  border-radius: 8px;

}

.cart-icon:hover .cart {
  opacity: 1;
}

@media (max-width: 1111px) {
  header .nav-links {
    display: none;
  }

  header .content {
    padding: 0 1.5rem;
  }

  header .content div:first-child {
    display: flex;
    gap: 42px;
    align-items: center;
  }

  .hamburger-icon {
    display: block;
    margin-right: 0;
  }

  .cart-icon {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}