.hero {
    margin-bottom: 6rem;
}

.hero-img {
    background: no-repeat url("../assets/home/desktop/image-hero.jpg") center/cover;
    width: 100vw;
    color: var(--white0);
    height: 100vh;
    min-height: 750px;
}

.hero-info {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1100px;
    min-height: 100%;
}

.hero-info div {
    min-height: 360px;
    width: 400px;
    margin-top: 125px;
}

.hero h1 {
    margin-bottom: 1.5rem;
}

.hero-info .description {
    width: 90%;
    margin-bottom: 40px;
    opacity: 0.75;
}

.hero .overline {
    color: white;
    opacity: 0.5;
    margin-bottom: 1.5rem;
}

@media (max-width: 1111px) {
    .hero-img {
        background-image: url("../assets/home/tablet/image-header.jpg");
    }

    .hero-info {
        text-align: center;
    }
    .hero-info div {
        margin: 130px auto;
    }

    .hero p {
        width: 95%;
        margin:auto;
    }
}

@media (max-width: 480px) {
    .hero-img {
        background-image: url("../assets/home/mobile/image-header.jpg");
        min-height: 600px;
    }

    .hero-info div {
        width: 100%;
        min-width: 100%;
    }

    .hero .overline {
        margin-bottom: 16px;
    }

}