.menu {
    height: 200px;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 96px;
    left: 0;
    z-index: 200;
    height: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border-radius: 0 0 8px 8px;
    padding-top: 5rem;
}

@media screen and (max-width: 480px) {
    .menu {
        min-height: 900px;
    }

    .menu .categories {
        flex-direction: column;
    }
}