div.nav-bar {
    padding-top: 1rem;
    align-items: center;
}

.logo {
background-image: url("../assets/shared/desktop/logo.svg");
width: 160px;
height: 25px;
}

.nav-bar ul {
list-style: none;
display: flex;
justify-content: space-between;
gap: 25px;
text-transform: uppercase;
padding-left: 0;
margin-top: 0;
cursor: pointer;
letter-spacing: 2px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}