.product_container {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 160px;
}

.product_container .top, 
.product_container .bottom {
    display: flex;
    gap: 125px;
}

.product_container .top img {
    width: 500px;
    height: 100%;
    object-fit: cover;
}

.product_container .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product_container .overline {
    margin-bottom: 1rem;
}

.product_container .top h2 {
    font-size: 40px;
    letter-spacing: 1.4px;
}

.product_container .top h2,
.product_container .top p,
.product_container .top .price {
    margin-bottom: 2rem;
}

.product_container .top div > div {
    display: flex;
}

.product_container .top .price {
    margin-bottom: 3rem;
    font-weight: bold;
}

.product_container .top input {
    margin-right: 1rem;
    width: 20%;
}


#quantity {
    background: #F1F1F1;
    border: none;
    min-height: 50px;
    width: 150px;
    outline: none;
    text-align: center;
}

.product_container .bottom {
    display: flex;
    gap: 200px;
}

.product_container .bottom h3 {
    margin-bottom: 2rem;
}


.features {
    width: 60%;
}

.in-the-box {
    width: 30%;
}

.in-the-box ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 0;
}

.in-the-box li {
    display: flex;
}

.in-the-box span:first-child {
    width: 30px;
    color: var(--orange1);
    font-weight: 700;
}

@media screen and (max-width: 1111px) {
    .product_container {
        gap: 120px;
    }

    .product_container .top {
        gap: 70px;
        width: 100%;
    }

    .product_container .bottom {
        flex-direction: column;
        width: 100%;
        gap: 120px;
    }

    .product_container .top img {
        width: 50%;
        height: 500px;
        object-cover: fit;
    }

    .features {
        width: 100%;
    }

    .in-the-box {
        display: flex;
        width: 60%;
        justify-content: space-between;
    }

    #quantity {
        width: 40%;
    }

    .product_container .top div > div button {
        width: 60%;
        padding: 0;
    }

    .product_container .top h2,
    .product_container .top p,
    .product_container .top .price {
        margin-bottom: 1.5rem;
    }
    
}

@media screen and (max-width: 700px) {
    .product_container .top, 
    .product_container .bottom {
        gap: 88px;
    }

    .product_container {
        gap: 90px;
    }

    .product_container .top {
        flex-direction: column;
        width: 100%;
    }

    .product_container .top img {
        width: 100%;
        height: 325px;
    }

    .product_container .bottom h4 {
        margin-bottom: 1.5rem;
    }

    .in-the-box {
        flex-direction: column;
        width: 100%;
    }
}