.product_container {
    margin: 100px auto;
}

.product_container .top, .product_container .bottom {
    display: flex;
    gap: 125px;
}

.product_container .top img {
    width: 500px;
    height: 100%;
    object-fit: cover;
}

.product_container .top {
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
}

.product_container .top h3 {
    font-size: 40px;
    letter-spacing: 1.4px;
}

#quantity {
    background: #F1F1F1;
    border: none;
    min-height: 50px;
    width: 150px;
    outline: none;
    text-align: center;
}

.product_container .bottom {
    display: flex;
    gap: 200px;
}

.features {
    width: 60%;
}

.in-the-box {
    width: 30%;
}

.in-the-box ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.in-the-box li {
    display: flex;
}

.in-the-box span:first-child {
    width: 30px;
}

@media screen and (max-width: 1111px) {
    .product_container .bottom {
        flex-direction: column;
        width: 100%;
    }

    .product_container .top img {
        width: 100%;
        max-height: 500px;
    }

    .features {
        width: 100%;
    }

    .in-the-box {
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .product_container .top {
        flex-direction: column;
        width: 100%;
    }

    .in-the-box {
        flex-direction: column;
    }
}