.products {
    width: 100%;
}

.product {
    /* border: 1px solid black; */
    min-height: 500px;
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
}

.reverse {
    flex-direction: row-reverse;
}

.product .img {
    width: 100%;
    min-height: 100%;
}

@media screen and (max-width: 1111px) {
    .products {
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
}