.summary {
    background-color: white;
    padding: 25px;
    width: 40%;
    border-radius: 8px;
    margin: 0;
}

.summary ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0;
}

.summary li {
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.summary li div {
    display: flex;
    justify-content: space-between;
    width: 60%;
}

.summary li div > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.remove-item-btn {
    border: none;
    text-decoration: underline;
    font-size: small;
    color: grey;
    cursor: pointer;
    min-width: 100px;
    padding: 10px;
    background: none;
}

.summary img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 1111px) {
    .summary {
        width: 100%;
        max-width: 100%;
        padding: 3rem;
    }
}

@media (max-width: 480px) {
    .summary {
        padding: 1.5rem;
    }
}