.you-may-also-like {
    text-align: center;
}

.other-products {
    display: flex;
    gap: 30px;
    text-align: center;
    margin-top: 64px;
}

.other-products div {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.other-products h5 {
    min-height: 32px;
}

.other-products img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

@media screen and (max-width: 1111px) {
    .other-products img {
        width: 100%;
        height: 320px;
    }
}

@media screen and (max-width: 500px) {
    .other-products {
        flex-direction: column;
        gap: 100px;
        margin-bottom: 160px;
    }

    .other-products img {
        height: 200px;
        width: 70%;
        margin: auto;
    }

    .other-products h5 {
        min-height: auto;
    }
}