@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

:root {
  --white0: #fff;
  --white1: #fafafa;
  --white2: #f1f1f1;

  --orange0: #fbaf85;
  --orange1: #d87d4a;

  --black0: #101010;
  --black1: #000000;
}

body {
  margin: 0;
  background-color: #fafafa;
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
}

.img {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}

.btn {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 1.3em 3em;
  cursor: pointer;
}

.primary-btn {
  background-color: var(--orange1);
  border: none;
}

.primary-btn a {
  color: var(--white0);
}

.primary-btn:hover {
  background-color: var(--orange0);
}

.secondary-btn {
  border: 1px solid #000000;
  background-color: transparent;
}

.secondary-btn:hover {
  color: white;
  background-color: black;
}

.shop-btn a {
  color: black;
}





/* 
***************************************
        MAIN
***************************************
*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1100px;
  margin: auto;
  margin-top: 10em;
}


/* 
***************************************
        HERO HOMEPAGE
***************************************
*/
.hero {
  background-image: url("./assets/home/desktop/image-hero.jpg");
  min-width: 100vw;
  color: var(--white0);
  min-height: 750px;
  margin-bottom: 200px;
  object-fit: cover;
}

.hero-info {
  width: 32em;
  margin-top: 125px;
  margin-left: 165px;
}

.hero h4 {
  text-transform: uppercase;
  letter-spacing: 10px;
  opacity: 0.5;
  font-size: 14px;
}

.hero h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 56px;
  line-height: 58px;
  margin-bottom: 2rem;
}

.hero p {
  width: 95%;
  margin-bottom: 2rem;
}

/* 
***************************************
        CATEGORIES
***************************************
*/
.categories {
  display: flex;
  gap: 30px;
  padding-bottom: 10.5rem;
}

.category {
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.category span {
  height: 250px;
  position: absolute;
  bottom: 50px;
  right: 30px;
  width: 250px;
}

#category_headphones span {
  background-image: url("./assets/shared/desktop/image-category-thumbnail-headphones.png");
}

#category_speakers span {
  background: url("./assets/shared/desktop/image-category-thumbnail-speakers.png");
}

#category_earphones span {
  background: url("./assets/shared/desktop/image-category-thumbnail-earphones.png");
}

.category div {
  background-color: #f1f1f1;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 30px;
}

.category h5 {
  padding: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

.category button {
  background-color: none;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.category button::after {
  content: ">";
}

.category button:hover::after {
  content: "    >";
}

/* 
***************************************
        PRODUCTS
***************************************
*/
#ZX9-speaker {
  background-color: var(--orange1);
  color: var(--white0);
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 500px;
  /* width: 1100px; */
  border-radius: 8px;
  justify-content: center;
  padding: 6rem;
  gap: 100px;
  margin-bottom: 3rem;
}

#ZX9-speaker_img {
  background-image: url("./assets/home/desktop/image-speaker-zx9.png");
  width: 400px;
  height: 500px;
}

#ZX9-speaker h2 {
  font-size: 56px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 58px;
  margin-bottom: 2rem;
}

#ZX9-speaker div {
  max-width: 300px;
}

#ZX9-speaker p {
  opacity: 0.75;
  font-size: 15px;
  line-height: 25px;
}

#ZX9-speaker button {
  background-color: black;
  border: none;
  color: white;
  /* letter-spacing: 1px; */
}

#ZX9-speaker button:hover {
  background-color: #4c4c4c;
}

#ZX7-speaker {
    background-image: url("./assets/home/desktop/image-speaker-zx7.jpg");
    min-height: 320px;
    width: 1100px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 3rem;
}

#ZX7-speaker div {
    margin-left: 10%;
}

#ZX7-speaker h3 {
    font-size: 28px;
    text-transform: uppercase;
}

#YX1-earphones {
    min-height: 320px;
    display: flex;
    gap: 30px;
    margin-bottom: 200px;
}

#YX1-earphones_img {
    background-image: url("./assets/home/desktop/image-earphones-yx1.jpg");
    width: 540px; 
    border-radius: 8px;

}

#YX1-earphones .product-infos {
    background-color: #f2f2f2;
    border-radius: 8px;
    width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product-infos div {
    margin-left: 100px;
}

#YX1-earphones h3 {
    text-transform: uppercase;
    font-size: 28px;
}


/* 
***************************************
        BUSINESS PURPOSE
***************************************
*/
.business-purpose {
    min-height: 600px;
    display: flex;
    gap: 125px;
    margin-bottom: 200px;
}

.business-purpose-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.business-purpose h2 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: 1.4px;
    margin-bottom: 2rem;
    max-width: 400px;
}

.business-purpose h2 span {
    color: var(--orange1);
    padding-right: 10px;
}

.business-purpose-img {
    width: 540px;
    background-image: url("./assets/shared/desktop/image-best-gear.jpg");
    border-radius: 8px;
}

.business-purpose-text p {
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
    max-width: 500px;

}

/* 
******************************************************************************
      CATEGORIES PAGE (earphones.html, headphones.html, speakers.html)
******************************************************************************
*/

.header-content h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;

}

.product-page_header {
  background-color: black;
  width: 100vw;
}

.subcategories_container {
  max-width: 1100px;
  margin-bottom: 160px;
}

.subcategory {
  display:flex;
  gap: 125px;
  margin-bottom: 160px;
  min-heighT: 580px;
}

.subcategory div {
  width: 50%;
}

/* 
***************************************
      headphones.html
***************************************
*/
#headphone-1 div:first-child {
  background: url("./assets/product-xx99-mark-two-headphones/desktop/image-product.jpg");
}

/* #headphone-1 div:last-child {
  /* background-color: red; */
  /* width: 50%; */
/* } */

/* #headphone-2 div:first-child {
  width: 50%;
} */

#headphone-2 div:last-child {
  /* background-color: red; */
  background: url("./assets/product-xx99-mark-one-headphones/desktop/image-product.jpg");
}

#headphone-3 div:first-child {
  background: url("./assets/product-xx59-headphones/desktop/image-product.jpg");
}

/* #headphone-3 div:last-child {
  width: 50%;
} */



/* 
***************************************
      speakers.html
***************************************
*/
#speaker-1 div:first-child {
  background: url("./assets/product-zx9-speaker/desktop/image-product.jpg");
}

#speaker-2 div:last-child {
  background: url("./assets/product-zx7-speaker/desktop/image-product.jpg");
}

/* 
***************************************
      earphones.html
***************************************
*/
#earphone-1 div:first-child {
  background: url("./assets/product-yx1-earphones/desktop/image-product.jpg");
}



/* 
***************************************
      PRODUCT PAGE
***************************************
*/
